.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background: #03001e;
  background: -webkit-linear-gradient(to right, #98d0d4, #ec38bc, #7303c0, #03001e);
  background: linear-gradient(to right, #738ec7, #9853ac, #7926b0, #2a1f8a);
}

.Abo{
  color: white;
}
/* 
background: #03001e;
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); */